<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <p>Witamy w grze Mastermind</p>
    <p>
		<label>Liczba elementów w rzędzie</label><br>
		<input type="text" id="size"><br>
		<label>Liczba kolorów</label><br>
		<input type="text" id="dim"><br>
		<label>Maksymalna liczba ruchów</label><br>
		<input type="text" id="max"><br>
		<button id="zagraj">ROZPOCZNIJ GRĘ</button>
    </p>
  </body>
</html>
